#centerForm {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#form-title {
    text-align: center;
}

#stAddress {
    margin-bottom: 10px;
}

#add-image {
    margin-right: 5px;
}