#centerForm {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#form-title {
    text-align: center;
}

#street {
    margin-bottom: 10px;
}

#button-right {
    
}

#add-image {
    margin-right: 5px;
}